@inject IStringLocalizer<Resource> L
<footer>
    <div class="row">
        <div class="twelve columns">
            <ul class="social-links">
                <li>
                    <a href="https://linkedin.com/in/tbelbek">
                        <em class="fa fa-2x fa-linkedin"></em>
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/tbelbek">
                        <em class="fa fa-2x fa-instagram"></em>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/tbelbek/">
                        <em class="fa fa-2x fa-github"></em>
                    </a>
                </li>
                <li>
                    <a href="skype:tughanbelbek?chat">
                        <em class="fa fa-2x fa-skype"></em>
                    </a>
                </li>
            </ul>
            <ul class="copyright">
                <li>&copy; Copyright @DateTime.Now.Year <a title="T.Belbek" href="https://linkedin.com/in/tbelbek">T.Belbek</a></li>
                <li>
                    Powered by
                    <a title="Go To Pipelines"
                       href="https://azure.microsoft.com/tr-tr/services/devops/pipelines/">
                        Azure Pipelines
                    </a>
                    &nbsp;&amp;&nbsp; <a title="Go To Github" href="https://github.com/"> GitHub</a>
                    &nbsp;&amp;&nbsp; <a title="Go To Blazor Page" href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a>
                    &amp;&nbsp; <a title="Go To Docker" href="https://www.docker.com/">Docker</a>
                </li>
            </ul>
        </div>
        <div id="go-top">
            <a class="smoothscroll" title="Back to Top" href="#home">
                <em class="icon-up-open"></em>
            </a>
        </div>
    </div>
</footer> <!-- Footer End-->