@page "/TR"
@using tbelbek.com.Data
@inject IStringLocalizer<IndexTurkish> L 

<!-- Header
================================================== -->
<header id="home">
    <nav id="nav-wrap">
        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Menüyü Göster</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Menüyü Gizle</a>
        <ul id="nav" class="nav">
            <li class="current">
                <a class="smoothscroll" href="#home">Gİrİş</a>
            </li>
            <li>
                <a class="smoothscroll" href="#about">Hakkımda</a>
            </li>
            <li>
                <a class="smoothscroll" href="#resume">Geçmİşİm</a>
            </li>
            <li>
                <a class="smoothscroll" href="#portfolio">Projelerİm</a>
            </li>
            <li>
                <a class="smoothscroll" href="#testimonials">Fİkİrler</a>
            </li>
            @* <li><a class="smoothscroll" href="#contact">İletİŞİm</a></li> *@
        </ul> <!-- end #nav -->
    </nav> <!-- end #nav-wrap -->
    <div class="row banner">
        <div class="banner-text">
            <h1 class="responsive-headline">Merhaba.</h1>
            <h2 style="color:darkgray;">
                Ben Tuğhan Belbek, sizlere <span> yazılım tasarımı </span> veya <span>fizikçi</span>
                olarak hizmet vermekten mutluluk duyacağım. Hakkımdaki detaylı bilgiler sayfanın
                <a class="smoothscroll"
                   href="#about" style="color:forestgreen;">
                    aşağısında
                </a>
                bulunmaktadır.
                <a href="~/Content/Tughan_Belbek_Resume.pdf"
                   download="@fileName" style="color:white;">
                    Ya da CV'mi hızlıca buradan
                    indirebilirsiniz.<em class="fa fa-angle-down bounce"></em>
                </a>
            </h2>
            <hr/>
            <ul class="social">
                @*<li>
                    <a href="http://facebook.com/tbelbek"><em class="fa fa-facebook"></em></a>
                    </li>
                    <li>
                    <a href="http://twitter.com/redstreetwalker"><em class="fa fa-twitter"></em></a>
                    </li>*@
                <li>
                    <a href="http://linkedin.com/in/tbelbek">
                        <em class="fa fa-2x fa-linkedin"></em>
                    </a>
                </li>
                <li>
                    <a href="http://instagram.com/tbelbek">
                        <em class="fa fa-2x fa-instagram"></em>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/tbelbek/">
                        <em class="fa fa-2x fa-github"></em>
                    </a>
                </li>
                <li>
                    <a href="skype:tughanbelbek?chat">
                        <em class="fa fa-2x fa-skype"></em>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <p class="scrolldown">
        <a class="smoothscroll" href="#about">
            <em class="icon-down-circle"></em>
        </a>
    </p>
</header> <!-- Header End -->

@code {
    string fileName = string.Concat("tbelbek_CV_", DateTime.Now.ToShortDateString(), ".pdf");
}